*,::after,::before{
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
}
:root{
    --Primary:rgba(32, 145, 249, 1);
    --Secondary:rgba(45, 192, 113, 1);
    --text:rgba(37, 43, 66, 1);
    --second-text:rgba(55, 71, 84, 1);
    --Light-text:rgba(255, 255, 255, 1);
    --Dark-background:rgba(37, 43, 66, 1);
    --Light-background:rgba(255, 255, 255, 1);
    --Background-Gradient:rgba(34, 43, 50, 1);
}
header{
    height: 861px;
    background:linear-gradient(rgba(34, 43, 50, 0.5)0%,rgba(34, 43, 50, 0.5)100%) ,url(../assets/image/landing.jpg) center center;
    background-size: cover;
    clip-path: polygon(0 0,100% 0,100% 85%,0 100%);
}
.button{
    background-color: var(--Primary);
    color: var(--Light-text);
    border-radius: 35px;
    padding: 3px 52px;
    outline: none;
    border: none;
} 
.navbar{
    position: relative;
    left: 0;
    right: 0;
    width: 90%;
    height: 78px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
.desktop-menu{
    display: none;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}

.desktop-menu-link{
    color: var(--Light-text);
}
.desktop-logo{
    display: none;
    width: 246px;
    height: 76px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 41.5%;
    margin: 0 auto;
}

.desktop-socialmedia-links{
    display: none;
    width: 171px;
    height: 41px;
    align-items: center;
    justify-content:space-between;
}
.mobile-menu-container{
    transition: 0.4s;
    padding-top: 20px;
    position: absolute;
    width: 250px;
    top: 0;
    margin-left: -350px;
    bottom: 0;
    color:var(--Light-text);
    background-color:var(--Background-Gradient);
    z-index: 1000;
}
.left{
    margin-left: 0;
}
.mobile-menu-title{
    transition: 0.4s;
    font-size: 24px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 500;
    border-bottom: 2px solid var(--Light-background);
}
.mobile-menu{
    font-size: 18px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-menu-link{
    display: block;
    flex-grow: 1;
    border-bottom: 1px solid var(--Light-background);
    padding-bottom: 30px;
    color:var(--Light-text);
    text-decoration: none;
    transition: 0.4s;
    padding-top: 10px;
    text-align: left;
}
.mobile-menu-link:hover{
    background-color: var(--Dark-background);
}
.header-content{
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: start;
    padding: 80px 0;
}
.header-container{
    display: flex;
    width: 50%;
    height: 200px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    color: var(--Light-text);
}
.header-title{
   max-width: 100%;
   margin-bottom: 20px;
}
.header-h1{
   font-size: 42px;
}
.header-description{display: none;}
.header-p{display: none;}
.header-description-second{ max-width: 80%; margin-bottom: 24px;}
.header-p-second{ font-size: 23px;}
.header-button-container{
    width: 276px;
    height: 92px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.mobile-logo{
    height: 76px;
    justify-content: center;
    align-items: center;
}
.mobile-btn{
    width: 40px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main------------------------------------ */

.main{
    margin-top: 115px;
    height: 700px;
}
.features{
    margin: 0 auto;
    
}
.features-text{width: 330px; margin: 0 auto;display: flex; flex-direction: column; align-items: center;}
.features-title{max-width: 160px; font-size:48px; margin-bottom: 20px;}
.features-description{max-width: 100%; font-size: 22px; display: none;}
.features-description-second{max-width: 100%; font-size: 32px;}
.feature-container{
    display: flex; 
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content:center;
    gap: 52px;
}
.feature{
    margin-top: 80px;
    width: 255px;
     padding: 0 20px;
}
.feature-img{
    width: 47px;
    height: 47px; 
}
.feature-title{
    font-size: 20px;
    line-height: 28px; 
    margin-bottom: 15px;
    font-weight: 900;
}
.feature-description{
    font-size: 19px; 
    line-height: 25px;
}
.mobile-feature-video{
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
}
.video-like{
    height: 556px;
    position: absolute;
    z-index: 0;
}
.mobile-feature-video-second{
    margin: 56px 16px;
}
.video-like-second{
    width: 100%;
    height: 100%;
}
.organaizes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
    
}
.organaize{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.organaize-title{
   margin-top: 50px;
    text-align: left;
    font-size: 32px;
    text-align: center;
}
.organaize-description{
    display: none;
    text-align: left;
}
.organaize-description-second{
    font-size: 24px;
    max-width: 200px;
    text-align: center;
    margin-top: 20px;
}
.organaize-img{
    width: 343px;
    margin-top: 60px;
    margin-bottom: 80px;
}
.organaize-button{
    margin-top: 60px;
}

.subscribers{
    margin-top: px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
}
.subscribers-container{
    width: 90%;
}
.subscribers-img{
    width: 100%;
}
.subscribers-content{
    display: flex;
    align-items: start;
    width: 90%;
    padding-left: 20px;
    justify-content: end;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
}
.subscribers-titles{
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
}
.subscribers-first{
    display: none;
    font-size: 14px;
    color: var(--text);
    font-weight: 900;
}
.subscribers-second{
    display: none;
    text-align: left;
    font-size: 28px;
    font-weight: 100;
}
.subscribers-description{
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.subscriber-title{
    color: var(--text);
    font-size: 19px;
}
.subscriber-description{
    margin-top: -20px;
    font-size: 20px;
}

.sub-box{
    width: 100%;
    height: 90px;
    
}
.form{
    width: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.sub-input{
    width: 100%;
    border-radius: 39px;
    border: none;
    outline: none;
    text-align: left;
    padding-left: 30px;
    margin-right: 12px;
    margin-bottom: 20px;
}
.sub-button{
    width: 100%;
    border-radius: 35px;
    background-color: var(--Primary);
    color: var(--Light-text);
    border: none;
    outline: none;
}
.mobile-content{
    margin-bottom: 70px;
}
.mobile-subscribers-first{
    font-size: 14px;
    color: var(--text);
    font-weight: 900;
}
.mobile-description1{
    font-size: 38px;
}
.mobile-description2{
    font-size: 20px;
}

.partners{
    display: flex;
    padding: 80px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.partners-content{
    padding-top:40px;
    max-width: 340px;
}
.content-title{
    font-size: 38px;
}
.content-description{
    font-size: 20px;
}
.partners-imgs{
    display: none;
    margin-top: 80px;
    width:100%;
    flex-direction: column;
    align-items: start;
    justify-content:center;

}
.imgs-container1{
    display: flex;
    width: 90%;
}
.imgs-container2{
    display: flex;
    width: 100%;

}
.partner-img1{width: 29%;}
.partner-img2{width: 27%;}
.partner-img3{width: 30%;}
.partner-img4{width: 25%;}

.partners-imgs-second{
    width: 80%;
    padding: 18px 0;
}
.secondimgs{width: 80%;}
.secondimg{margin-top: 30px;}

.partners-button{
    margin-top: 80px;
    font-weight: 700;
}

.testimonials{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}
.testimonials-title{
    font-size: 48px;
    margin-bottom: 80px;
    font-weight: 100;
}
.testimonials-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    width: 80%;
    gap: 50px;
}
.testimonials-svg{
    width: 150px;
}
.testimonials-description{
    width: 100%;
    font-size: 23px;
}
.testimonials-user{
    display: flex;
    width: 186px;
    gap: 10px;
    
}
.img-user2{
    display: none;
}
.user-description{
    max-width: 116px;
    line-height: 23px;
    font-size: 16px;
}

.testimonials-button{
    font-weight: 700;
    width: 245px;
}
