@media (min-width:576px) {
   
}
@media (min-width:768px) {
    .features-description-second{display: none;}
    .header-description-second{display: none;}
    .header-p-second{display: none;}
    .header-title{max-width: 325px; margin-bottom: 22px; font-weight: 600;}
    .header-h1{font-size: 46px;}
    .header-description{display: inline;max-width: 90%;}
    .header-p{display: inline;font-size: 19px;}
    .header-container{ height: 210px;}
    .features-text{width: 380px;}
    .features-description{display: inline;}
    .mobile-menu-container{width: 350px;}
    .mobile-menu-title{font-size: 28px;}
    .mobile-menu{font-size: 21px; }
    
    .organaizes{ margin: 0 auto;}
    .organaize-title{text-align: left; max-width: 200px;}
    .organaize-description{display: block; max-width: 340px; margin-top: 20px; font-size: 20px;}
    .organaize-description-second{display: none; }
    .organaize-img{width: 434px;}
    .subscribers{flex-direction: row;}
    .subscribers-first{display: inline; }
    .subscribers-second{display: inline; }
    
    .form{flex-direction: row;}
    .subscribers-container{width: 80%;}
    .subscribers-content{width: 80%;}
    .subscribers-description{align-items: start; margin-top: 20px;}
    .subscriber-title{font-size: 14px;}
    .subscriber-description{margin-top: -20px;font-size: 15px;}
    .sub-input{width: 60%; margin-bottom: 0;}
    .sub-button{width: 30%;}
    .mobile-content{display: none;}
}
@media (min-width:992px) {
    .mobile-feature-video-second{display: none;}
    header{height: 930px;}
    .navbar{padding: 0 40px; height: 156px;}
    .desktop-menu{display: flex;}
    .desktop-socialmedia-links{display: flex; width: 150px;}
    .desktop-logo{display: flex;}
    .mobile-logo{display: none;}
    .mobile-btn{display: none;}
    .header-title{max-width: 400px;margin-bottom: 20px; font-weight:700 ;}
    .header-h1{font-size: 54px;}
    .header-description{max-width: 100%;}
    .header-p{font-size: 21px;}
    .header-container{ height: 200px; margin-bottom: 24px;}
    .features-text{width: 400px;}
    .features-description{font-size: 24px;}
    .mobile-feature-video{display: flex; width: 668px;height: 432px;}

    .organaizes{margin: 182px auto;}
    .organaize{align-items: start;}
    .organaize-title{margin-top: 22px;}
    .organaize-description{}
    .organaize-img{width: 532px;}
    .organaize-button{ margin-top: 30px;}
    .subscribers{margin-top: -100px; flex-direction: row;}
    .subscribers-first{display: inline; }
    .subscribers-second{display: inline; }
}
@media (min-width:1200px) {
    .header-title{max-width: 500px;margin-bottom: 18px; font-weight: 800;}
    .header-h1{font-size: 60px;}
    .header-description{max-width: 100%;}
    .header-p{font-size: 21px;}
    .header-container{ height: 230px; margin-bottom: -10px;}
    .features-text{width: 450px;}
    .features-description{font-size: 26px;}
    .mobile-feature-video{width: 868px; height: 556px;}

    .organaizes{margin: 266px auto; gap: 40px;}
    .organaize{}
    .organaize-title{ max-width: 235px;line-height: 55px;}
    .organaize-description{  margin-top: 10px;text-align: left;font-size: 20px;max-width: 340px;margin-bottom: 60px;}
    .organaize-img{width: 572px;}
    .organaize-button{margin-top: 0; margin-bottom: 100px;}
    .subscribers{margin-top: -150px;}


}

@media (min-width:1400px) {
    .header-title{max-width: 550px;margin-bottom: 18px; font-weight: 900;}
    .header-h1{font-size: 64px;}
    .header-description{max-width: 100%;}
    .header-p{font-size: 22px;}
    .header-container{ height: 240px;  margin-bottom: -15px;}
    .features-text{width: 500px;}
    .features-description{font-size: 28px;}
    .mobile-feature-video{width: 900px; height: 570px;}
    .orgaganaizes{}
    .organaize{}
    .organaize-title{}
    .organaize-description{}
    .organaize-img{width: 600px;}


    .subscribers{margin-top: -165px;}
}

/* New styles for better responsiveness
@media (min-width:1600px) {
    .header-title{max-width: 600px;margin-bottom: 18px; font-weight: 1000;}
    .header-h1{font-size: 68px;}
    .header-description{max-width: 100%;}
    .header-p{font-size: 23px;}
    .header-container{ height: 250px;  margin-bottom: -20px;}
    .features-text{width: 550ottom: 100px;}

    
    
   

}
@media (min-width:1400px) {
    .header-title{max-width: 550px;margin-bottom: 18px; font-weight: 900;}
    .header-h1{font-size: 64px;}
    .header-description{max-width: 100%;}
    .header-p{font-size: 22px;}
    .header-container{ height: 240px;  margin-bottom: -15px;}
    .features-text{width: 500px;}
    .features-description{font-size: 28px;}
    .mobile-feature-video{width: 900px; height: 570px;}
    
    .orgaganaizes{}
    .organaize{}
    .organaize-title{}
    .organaize-description{}
    .organaize-img{width: 600px;}

} */